<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head lang="en" th:insert="~{main::head}"></head>
<body>
<!--头部-->
<div th:insert="main::head2"></div>
<!--主体内容-->
<section class="publicMain">
	<div class="left" th:insert="main::left"></div>
	<div class="right">
	    <div class="location">
	        <strong>你现在所在的位置是:</strong>
	        <span>新闻控制页面>>密码修改页面</span>
	    </div>
		<div class="newsAdd">
			<form id="newsForm" name="newsForm" method="post" th:action="@{/modify/modify_admin}">
				 <p style="color:red;  text-align: center;" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
				<input type="hidden" name="method" value="update">
				<div>
					<label for="newsCode">旧密码：</label>
					<input type="password" required name="oldPassword" class="text" id="newsCode" value="">
					<!-- 放置提示信息 -->
				</div>
				<div>
					<label for="productName">新密码：</label>
					<input required type="password" name="newPassword" id="productName" value="">
				</div>
				<div>
					<label for="productName">确认密码：</label>
					<input required type="password" name="reNewPassword" id="productName" value="">
				</div>
				<div class="newsAddBtn">
					<input type="submit" name="add" id="add" value="提交">
					<button type="button" id="back" name="back"><a th:href = "@{/main}">返回</a></button>
				</div>
			</form>
		</div>
	</div>
	 
	 
	 
	 
	</section>
    <footer class="footer" th:insert="~{main::footer}"></footer>
	</body>
</html>